<h1>User#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>

<%= @user.name %> <br>
<%= @user.email %> <br>
<%= @user.posts.length %> <br>


<% @user.posts.each do |post| %>
  <%=link_to (image_tag post.post_img.url(:medium)), post_path(post) %>
<% end %>