<h1>Dunder Mifflin Posts</h1>
<div class="row">
  <% @posts.each do |post| %>
    <div class="col-md-4 text-center b-margin">
      <%= link_to (image_tag post.post_img.url(:medium)), user_path(post.user_id), class: "img-responsive imw" %>
    </div>
  <% end %>
</div>

